body{
    font-family:"Matemasie", sans-serif;
    background-image: url("../dist/imagenes/banercats.jpg");
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo{
    text-align: center;
    color: #060608;
}
#app{
    width: 400px;
    background-color:#ED501A;
    padding: 20px;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
form{
    display: flex;
    justify-content: space-between;
}
input{
    width: 75%;
    padding: 4px;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 3px;
}
button{
    padding: 5px 8px;
    background-color:#E1AD66;
    color: black;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    background-color: #ED501A;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li.completed{
    text-decoration: line-through;
    color: white;

}